*{
    margin: 0;
    padding: 0;
}

body{
  background-color: rgb(241, 222, 222);
  background-image: url("https://media.istockphoto.com/id/481009054/vector/vector-background-of-white-wooden-texture.jpg?s=612x612&w=0&k=20&c=xYiVu3c2aPpeaowGs3zXgd3vnVaoRGUAOb03B2vkSY0=");
  
  background-repeat: repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 170px;
    border-radius: 10px;
    display: flex;
}


.container-logo{
  display: flex;
  align-items: center;
}

.logo-texto{
  margin-left: 45px;
  display: flex;
  color: aliceblue;
}

header{
  margin: 0px;
  background-color: rgb(26, 68, 102);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img{
    width: 200px;
}

.logo-imagem{
  width: 100px;
  display: flex;
  padding: 5px 5px;
}

#logo{
  width: 140px;
  display: flex;
}

.menu li{
  display: inline-block;
  margin: 0 10px;
  transform: scale(1);
  
}

.menu li:hover{
  transform: scale(1.135);
}

.menu li a{
  font-size: 25px;
  text-decoration: none;
  color: rgb(216, 216, 216);
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: rgba(31, 30, 30, 0.397);
  border-radius: 10px;
}

.menu li a:hover{
  background-color: rgba(31, 30, 30, 0.466);
  border-radius: 10px;
}


h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: bolder;
}

.texto1, .texto2, .texto3, .texto4{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 20px 20px;
  background-color: rgb(252, 244, 233);
  border-radius: 20px;
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/BloSxjK/videoblocks-animated-crinkled-paper-texture_rvyrkqunj_thumbnail-1080_14.png");
  background-repeat: no-repeat;

  align-items: center;

  margin-bottom: 50px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
  font-size: 20px;
  font-weight: 400;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  line-height: 25px;
}




.video1, .video2, .video3{
  background-image: url("https://wallpapers.com/images/hd/math-equations-on-chalkboard-gjgok4ur8kgpsf10.jpg");
  background-repeat: no-repeat;
  background-size: 100%;


  align-items: center;
  background-color: antiquewhite;
  border-radius: 10px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  padding: 15px 15px;
  text-align: center;

  color: aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

iframe{
  border-radius: 15px;
}



div a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;

}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}

ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li { 
  padding: 4px;
  display: block; 
}
ul li ul li a {display:block !important;} 

.descritores li a{
  background-color: rgba(49, 56, 75, 0.452);
  color: white;
  
}

.descritores li a:hover{
  background-color: rgba(49, 56, 75, 0.78);
}